<div class="row">
  <div class="home-logo"></div>
</div>

<div class="row">
  <div class="entourage-image"></div>
</div>
  


<div class="row">
  <div class="subscriber-box">
    <div id="subscriber-box">

      <div class="subscriber-text">
        Enter your email to receive exclusive access to Famous Farrah.
      </div>

      <%= form_for(@subscriber) do |f| %>
        <%= f.text_field :email, { :class => 'subscriber-input', :placeholder => 'Email Address' } %>
        <%= content_tag :button, :type => :submit, :class => 'farrah-button' do %>
           <span>Join the Entourage</span>
        <% end %>
      <% end %>
      <div id="messages">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        </br>
      </div>
    </div>
  </div>    
</div>  
